.cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    margin: 15% 5%;
}

.graphInfo {
    height: 40vh;
    width: 100%;
    border: solid red;

    .row {
        height: 100%;
        .cc {
            height: 100%;
        }
    }
}

#header {
    position: relative;
    width: 100%;
    border: solid 2px black;
    padding-top: 120px;
    
    #logo-container {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -10vw;
        width: 20vw;
        height: 20vw;
        border-radius: 100%;
        background: url('http://i0.kym-cdn.com/entries/icons/mobile/000/014/178/AyyyLmao.jpg');
        background-position: center;
    }

    #links-container {
        .cc {
            padding: 2%;
            border: solid blue;
        }
    }
}